extends layout

block content
  .container
    .row.justify-content-md-center
      .col.col-lg-2
        a(href="/team/list").rowWLC
          button.btnBack Back

      .col-md-auto
        h1#WelcomeMsg Edit your Team!
      .col.col-lg-2
  .container.cntList
   .row.teamlist
    .col-12.text-center
      input#inpChangeName(placeholder='New Team name' maxlength="20")
      button.btnChange(onclick="changeName()") Save
      script.
        $("input#inpChangeName").on({
            keydown: function(e) {
              if (e.which === 32 || e.which === 190)
                return false;
            },
            change: function() {
              this.value = this.value.replace(/\s/g, "");
            }
            });
        $('input#inpChangeName').bind('input', function() {
            var c = this.selectionStart,
                r = /[^a-z0-9 .]/gi,
                v = $(this).val();
            if(r.test(v)) {
              $(this).val(v.replace(r, ''));
              c--;
            }
            this.setSelectionRange(c, c);
          });
