extends layout

block content
  .container
    .row.justify-content-md-center
      .col.col-lg-2
        a(href="/team/list").rowWLC
          button.btnBack Back

      .col-md-auto
        h1#WelcomeMsg Edit your Team!
      .col.col-lg-2
  .container
   .row.teamlist
    .col-12.text-center
      input#inpChangeName(placeholder='New Team name')
      button.btnChange(onclick="changeName()") Save
