extends layout

block content
  h1#WelcomeMsg Welcome to Pokemon App
  .container.cnt
    .row
      .col
       a(href="/team/create")
        button.btn1.btn Create your team!
      .col
       a(href="/team/list")
        button.btn1.btn Team Listing!
