doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
    title index
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  body
    header
      div(style='background-color: #2f2f2f;width:100%;height:150px;text-align:center;')
        a(href="/")
          img(src='/images/header.svg' style='margin-top:15px;' )
    block content
    footer
      h6#footerFirm Made by Enrico Maiorano
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous')
    script(src='/javascripts/script.js')
    script (src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
