extends layout

block content
  h1#WelcomeMsg Team listing
  .container.cnt
   .row
     .col-4.colTeam.text-center
     script.
      var team = JSON.parse(localStorage.getItem("team"));
      console.log(team);
