extends layout

block content
  h1#WelcomeMsg Team listing
  .container.cnt
   .row
     .col-4.colTeam.text-center
       button.btn Team 1!
     .col-4.colTeam.text-center
       button.btn Team 2!
     .col-4.colTeam.text-center
       button.btn Team 3!
     .col-4.colTeam.text-center
       button.btn Team 3!
     .col-4.colTeam.text-center
       button.btn Team 3!
     .col-4.colTeam.text-center
       button.btn Team 3!
