extends layout

block content
  h1#WelcomeMsg Create your Team!
  .container.cnt2
   .row.text-center.col-centered
     .col-12
       input#inpName(placeholder='Team name')
     .col-12
       button.btnGo(onclick="getPokemon()") Gotta Catch &apos;Em All
     .col-12.listTeam
    
     .col-12
      button.btnSave(onclick="saveTeam()" disabled) Save team
